<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/theme.css" rel="stylesheet" />
    {% seo "" %}
    {% if env.NODE_ENV === 'prod' %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-KRFBP7GKF4"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-KRFBP7GKF4');
      </script>
    {% endif %}
  </head>
  <body class="bg-gray-50">
    <div class="mx-auto max-w-screen-lg">
      <nav>
        <div
          class="container flex flex-col md:flex-row lg:items-center justify-center p-6 mx-auto text-gray-600 capitalize"
        >
          <div class="flex-1">
            <a
              href="/"
              class="inline-flex align-middle"
            >
              <img src="/images/profile.png" alt="Ammar's profile picture" class="rounded-full w-14 h-14 mr-4 ring-sky-700 ring-2" />
              <div>
                <span class="text-gray-800 transition-colors duration-300 transform border-sky-500 font-semibold text-xl">
                  Ammar Alakkad
                </span>
                <span class="block text-sm mt-1">Sr. Frontend Engineer</span>
              </div>
            </a >
          </div>
          <a
            href="/about/"
            class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform hover:border-blue-500 mx-1.5 sm:mx-6 mt-3"
            >About</a
          >

          <a
            href="/uses/"
            class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform hover:border-blue-500 mx-1.5 sm:mx-6 mt-3"
            >Uses</a
          >
        </div>
      </nav>

      <main>
        <section>
          <div class="container px-6 pt-4 pb-10 mx-auto text-gray-800">
            {{ content | safe }}
          </div>
        </section>
      </main>


      <footer>
        <div class="text-center p-6 mx-auto">
          <hr class="my-10 border-gray-200" />
          <p class="text-sm text-gray-600">
            © Copyright 2024. All Rights Reserved.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
