---
layout: base
---
<article class="post-content" itemscope itemtype="http://schema.org/CreativeWork">
  <h1 class="mb-4" itemprop="headline">{{ title }}</h1>
  <time datetime="{{ page.date }}" class="text-neutral-500 text-sm">
    <meta itemprop="datePublished" content="{{ page.date | htmlDateString }}" />
    {{ page.date | htmlDateString }}
  </time>

  <p itemprop="text">
    {{ content | safe }}
  </p>
</article>
