@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }

  .post-content {
    @apply text-base;
    h1 {
      @apply text-3xl font-medium text-gray-800 capitalize lg:text-4xl;
      @apply mt-8 mb-5;
    }
    h2 {
      @apply text-2xl text-gray-800 capitalize lg:text-3xl;
      @apply mt-8 mb-4;
    }
    h3 {
      @apply text-xl text-gray-800 capitalize lg:text-2xl;
      @apply mt-7 mb-4;
    }
    h4 {
      @apply text-lg text-gray-800 capitalize lg:text-xl;
      @apply mt-6 mb-4;
    }

    hr {
      @apply my-6 text-blue-500;
    }

    p {
      @apply mt-6;
    }

    img {
      @apply rounded-xl w-full h-auto xl:max-h-[40rem];
    }

    blockquote {
      @apply text-base text-gray-700 border-s-4 border-slate-300 ps-4 pb-5 pt-1 my-2 bg-slate-100;

      p {
        @apply mt-4;
      }
    }

    ul,
    ol {
      @apply ms-4 my-3 leading-7;
      ul {
        @apply ms-6 my-1;
        li {
          @apply list-[circle];
        }
      }
    }

    ul {
      @apply list-disc list-inside;
    }

    ol {
      @apply list-decimal list-inside;
    }

    a {
      @apply underline underline-offset-4 text-sky-600 transition-all ease-in-out duration-150;
      &:hover {
        text-underline-offset: 5px;
      }
    }

    pre {
      @apply rounded-md bg-slate-100 p-3 my-3;
    }

    code {
      @apply rounded bg-slate-100 px-2;
    }
  }
}
body {
  &::before {
    content: " ";
    display: block;
    height: 2px;
    background: linear-gradient(
      to right,
      #ee2a34,
      #ee2a34 25%,
      #000 25%,
      #000 50%,
      #fff 50%,
      #fff 75%,
      #009736 75%,
      #009736 100%
    );
  }
}
